.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 8px;
    background-color:black;
    border-radius: 3px;
    margin: auto;
    max-width: 500px;
}

.displayField {
    background-color:lightgray;
    height: 60px;
    border-width: 3px;
    border-radius: 5px;
    border-color:gray;
    border-style: solid;
    text-align: right;
    font-size: 30px;
}

.box {
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.operators {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.button {
    background-color: lightgray;
}